*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
	--accent-color-hue: 236;
	--accent-color-saturation: 100%;
	--disabled-color: #cfcfcf;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.header {
	display: grid;
	justify-content: center;
	font-size: 18px;
}

.playingField{
    display: grid;
    grid-template: repeat(3, 200px) / repeat(3, 200px); 
	justify-content: center;
	border: 1px solid black;

}

.buttons {
	font-size: 70px;
}

.onRestart {
	display: grid;
	justify-content: center;
	font-size: 18px;
	margin-top: 10px;
}