*,
:after,
:before,
::backdrop {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
}

.container {
    min-height:100vh;
    min-width: 1440px;
    background-image: url(public/background.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockSignIn {
    width: 564px;
    min-height: 500px;
    background: #FFFFFF;
    border-radius: 24px;
    padding: 42px;
}

.header {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
    margin-bottom: 32px;
}

.signIn {
    font-family: "Great Vibes", cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #313039;
}

.logIn {
    font-family: "Great Vibes", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9794AA;
}

.links {
    font-weight: 600;
    color: #1B6953;
}

.main {
    width: 480px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 14px;
}

.labels {
    font-family: "Great Vibes", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #49475A;
}

.inputs {
    width: 480px;
    height: 56px;
    border: 1px solid #CBCAD7;
    border-radius: 12px;
    padding: 5px 10px 5px 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.buttonSignIn {
    width: 480px;
    height: 56px;
    background: #1B6953;
    border-radius: 8px;
    font-family: "Great Vibes", cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 10px;
    transition: transform 0.1s ease;
    box-sizing: border-box;
}

.buttonSignIn:active {
    transform: scale(0.95)
}

.buttonSignIn:disabled {
    background: gray
}

.error {
    margin-top: 4px;
    background: #fff;
    color: red;
    font-size: 12px;
    padding: 6px 10px;
    border: 1px solid red;
    border-radius: 6px;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}